div.backDrop {
  height: 100vh;
  width: 100vw;
    background-color: rgba(128, 128, 128, 0.7);
  position: absolute;
  top: 0;
}

div.closeContainer {
  height: 20px;
  padding-top: 5px;
}

div.close {
  width: 100px;
  height: 6px;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
}

div.cart {
  position: fixed;
  height: 80%;
  background-color: rgb(242, 242, 242);
  width: 100%;
  bottom: 0;
  z-index: 1;
  border-radius: 20% 20% 10% 10% / 4% 4% 0% 0%;
  padding: 0 13px;
  box-sizing: border-box;

  animation: open 0.5s ease-in-out;
}

div.cartHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;

  > div:first-of-type {
    display: flex;
    align-items: center;

    > svg {
      margin-right: 13px;

      > path {
        fill: var(--main-color);
      }
    }

    > h1 {
      font-family: Roboto;
      font-size: 24px;
      font-weight: 500;
      margin: 0;
    }
  }
}

@keyframes open {
  from {
    transform: scale(1.1);
    bottom: -80%;
  }
  to {
    transform: scale(1);
    bottom: 0;
  }
}