@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;500;800&display=swap');

div.section {
  background-color: red;
  color: rgb(255, 255, 255);

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 21px;
}

div.first {
  background: url("./FirstPage.png");
  background-size: cover;

  div.content {
    display: flex;
    flex-direction: column;
    height: 100%;

    > header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      width: 100%;

      font-family: "Saira Condensed", sans-serif;
      font-size: 31px;
      font-weight: 700;

      > img {
        height: 50px;
        width: 50px;
        margin-right: 10px;
      }

      h1 {
        font-size: 31px;
        font-weight: 700;
        margin: 0;
        color: rgb(255, 255, 255);
      }
    }

    > main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      padding: 0 18px;
      text-align: center;

      > button {
        background: rgb(5, 81, 148);
        border-radius: 5px;
        width: 220px;
        height: 40px;
        border: none;

        &, a {
          text-decoration: none;
          color: rgb(255, 255, 255);
        }

        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}