div.menuWrapper {
  position: fixed;
  width: 100%;
  bottom: 5px;
}

div.menu {
  max-width: 350px;
  margin: auto;
  position: relative;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgb(255, 255, 255);

  text-decoration: none;
  z-index: 5;

  &:not(.cart) {
    margin-bottom: 5px;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 65px;
  width: 65px;
  border-radius: 50%;
  background: rgb(32, 37, 47);
  position: fixed;
  left: calc(50% - 30px);
  bottom: 25px;
}

div.menuItemsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  position: absolute;
  bottom: 0;
}

div.leftSide {
  align-items: flex-start;
}

div.rightSide {
  flex-direction: row;
  right: 0;
  align-items: center;
  justify-content: flex-end;

  > *:first-child {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 350px) {
  div.menu {
    max-width: 350px;
    margin: 0 5px;
  }

  .menuItem {
    font-size: 10px;
  }
}