nav.search {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  background-color: rgb(242, 242, 242);

  > img:first-of-type {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  > img:nth-of-type(2) {
    height: 15px;
    width: 15px;
    position: absolute;
    left: 110px;
    z-index: 5;
  }

  input {
    color: rgba(0, 0, 0, 0.4);
    font-family: Roboto;
    font-weight: normal;
    font-size: 17px;
    border-radius: 30px;
    border: none;
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 80%;
    max-width: 300px;
    padding-left: 30px;
  }
}